In [3]:
'''compare original csv and sub csv for similar value composition'''
import pandas as pd
import numpy as np

def occCount(df,head):
    occDict = {}
    for i in df[head].astype(str):
        if head == 'Hours per Week':
            if int(i) < 40:
                if 'less than 40' in occDict:
                    occDict['less than 40'] += 1
                else:
                    occDict['less than 40'] = 1
            elif int(i) == 40:
                if 'equals 40' in occDict:
                    occDict['equals 40'] += 1
                else:
                    occDict['equals 40'] = 1
            else:
                if 'greater than 40' in occDict:
                    occDict['greater than 40'] += 1
                else:
                    occDict['greater than 40'] = 1
        elif head == 'Age':
            old = 0
            for j in range(10,101,10):
                key = 'between ' + str(old) + ' and ' + str(j)
                
                if old<=int(i)<j:
                    if key in occDict:
                        occDict[key] += 1
                    else:
                        occDict[key] = 1
                old = j
        elif i in occDict:
            occDict[i] += 1
        else:
            occDict[i] = 1
    for i in occDict:
        occDict[i] /= len(df[head])
    print('Done with',head)
    return occDict

def comp(main,second):
    compare = {}
    for j in main:
        if j in main and j in second:
            compare[j] = main[j] - second[j]
        elif j in main:
            compare[j] = main[j] - 0
        elif j in second:
            compare[j] = 0 - second[j]
    return compare

def color_negative_red(value):
    if abs(value) < 0.015:
        color = 'lightgreen'
        return f'background-color: {color}'
    elif 0.05 < abs(value) < 0.1:
        color = 'indianred'
        return f'background-color: {color}'
    else:
        return

    
df = pd.read_csv('../adult_reconstruction.csv')
df= df[['Hours per Week', 'Age', 'Workclass', 'Highest Degree',
       'Marital Status', 'Race', 'Gender', 'Native Country', 'Occupation', 'Income','ML Pred']]
for i,j in enumerate(df):
    temp = pd.DataFrame()
    if i < 11:
        jm = j + " (main)"
        jp = j + " (practice)"
        jt = j + " (test)"
        main = occCount(df,j)
        pracdf = pd.read_csv('../train_100_7030.csv')
        # pracdf = pracdf.drop(['Income','Income Adjust','ML Conf'],axis=1)   
        pracdf = pracdf[['Hours per Week', 'Age', 'Workclass', 'Highest Degree',
       'Marital Status', 'Race', 'Gender', 'Native Country', 'Occupation', 'Income','ML Pred']]
        prac = occCount(pracdf,j)
        m2p = comp(main,prac)
        mp = 'Diff (main-practice)'
        m2p = pd.DataFrame({mp:m2p.values()},index = list(m2p.keys()))


        main = pd.DataFrame({jm:main.values()},index = list(main.keys()))

        prac1= list(prac.keys())
        prac = pd.DataFrame({jp:prac.values()},index = prac1)

        
        
        
        # temp = pd.concat([main,prac,test,m2p,m2t,p2t],axis = 1)
        temp = pd.concat([main,prac,m2p],axis = 1)
        if j not in ['Income','Hours per Week', 'Years of Education','ML Pred']:
            temp['labels'] = temp.index.str.lower()
            temp = temp.sort_values('labels').drop('labels', axis=1)
        elif j !='Hours per Week':
            temp['labels'] = temp.index
            temp = temp.sort_values('labels').drop('labels', axis=1)
        tupAsType = {}
        tupFormat = {}
        for k in temp:
            if '(' in k:
                tupAsType[k] = 'float'
                tupFormat[k] = "{:.3f}"
        new = temp.replace(np.nan,0)\
        .astype(tupAsType)\
        .style.format(tupFormat)\
        .hide(axis='index')\
        .applymap(color_negative_red, subset=list(temp.keys())[4:])\
        .highlight_min(subset = list(temp.keys())[1:4], color='firebrick')\
        .highlight_max(subset = list(temp.keys())[1:4], color='limegreen')

        
        
        display(new)

Done with Hours per Week
Done with Hours per Week

Done with Age
Done with Age

Done with Workclass
Done with Workclass

Done with Highest Degree
Done with Highest Degree

Done with Marital Status
Done with Marital Status

Done with Race
Done with Race

Done with Gender
Done with Gender

Done with Native Country
Done with Native Country

Done with Occupation
Done with Occupation

Done with Income
Done with Income

Done with ML Pred
Done with ML Pred